* {    margin: 0;    padding: 0;    outline: none;}
  :root{    --color-primary:#fff;    --color-secondary:#16384c;  }
  body {    font-family: 'Roboto', sans-serif;    background-color: var(--color-primary);  }
  .container{    position: relative; display: flex; 
    justify-content: center; align-items: center;    height: 100vh; width: 100%;
  }
  .card{    position: relative;    width: 350px;    color: var(--color-primary);
    background-color: var(--color-secondary);    margin: 30px 10px;    display: flex;
    flex-direction: column;    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    transition: 0.4s ease-in-out;    height: auto;    border-radius: 10px;    overflow: hidden;
  }
  .imgbx{    position: relative;    width: 100%;    height: 280px;    overflow: hidden;
    display: flex;    z-index: 1;    justify-content: center;
  }
  .icon{    position: absolute;    display: flex;    justify-content: center;
    align-items: center;    width: 60px;    height: 60px;    color:var(--color-primary);
    background-color: var(--color-secondary);    border-radius: 100%;    margin-bottom: -30px;
    transition: .3s ease-in-out;    top: 49%;    z-index: 1;    right: 40%;
      border: 2px solid;
  }
  .card:hover{    cursor: pointer;  }
  .card:hover .icon{    background-color:var(--color-primary);    color: var(--color-secondary);
  }
  .card:hover .icon i{    transform: scale(1.3);  }
  .imgbx::before{    content: '';    width: 100%;    height: 100%;    position: absolute;
    background-color: rgba(0, 0, 0, .3);
  }
  .imgbx img{    height: 100%;    border-radius: 10px 10px 0 0;    transition: .3s ease-in-out;
  }
  .card:hover .imgbx img{    transform: scale(1.2);  }
  .content{    position: relative; padding: 30px 15px 10px 15px; text-align: center;
    transition: .4s ease-in-out;    border-top: 2px solid var(--color-primary);
  }
  .card:hover .content{    visibility: visible;  opacity: 1; margin-top: 0;  }
  .content h1{    margin: 10px 0 20px 0;  }
  .content p{    text-align: justify;    margin-bottom: 20px;  }